body {
    background: rgb(240, 242, 245);
}

header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    padding: 25px;
    color:  rgb(96,103,112);

    border: solid;
    border-width: 25px 50px 25px 50px;
    border-color: white;
    border-radius: 10px;
    margin: 25px;

}

.design-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 40%;
    max-width: 100%;
    max-height: 50%;
    margin: 1em;

}

.design-board {
background: rgb(240, 242, 245);
}

.input-formatting {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    background: white;
    width: 156px;
    height: 300px;
    border: 4px;
    border-radius: 10px;
    border-color: rgb(185, 185, 190);
    padding: 6px, 6px, 6px, 6px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 5px;
    color:  rgb(96,103,112);
    box-shadow: 2px 2px rgb(198, 217, 241);

}

#submit {
    margin-left: 10;
}

.remove,  #submit{
    display: flex;
    
    border: none;
    background: white;
    border-radius: 5px;
    color:  rgb(96,103,112);

}

.remove {
    position: relative; top: 0px; left: 0px;
    max-width: 25px;
    border: none;
    background: none;
    padding: 4px, 4px, 4px, 4px;
    margin-top: 5px;
}

#mix-up {
    margin: auto;
    border: none;
    background-color:white;
    border-radius: 5px;
    color:rgb(96,103,112)
}

.rating-review {
    vertical-align: bottom;
}

img {
    max-height: 100%;
    max-width: 100%;
}

