body {
    background: rgb(247, 247, 247)
}

.design-board {
    display: flex;
    flex-direction: row;
    flex-basis: 40%;
    margin: 1em;

}

.item {
    display: flex;
    flex-direction: column;
    background: white;
    width: 156px;
    height: 300px;
    border-radius: 3px;
    padding: 6px, 6px, 6px, 6px;

}

.remove {
    display: flex;
    flex-direction: row-reverse;
    border: 2px solid whitesmoke;
    background-color: rgb(185, 185, 190);
    border-radius: 5px;
    color: rgb(240, 240, 240)
    
}

img {
    max-height: 100%;
    max-width: 100%;
}